<main role="main" class="col-md-12 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Find Owners</h1>
  </div>

  <form class="form-inline mb-3">
    <div class="form-group mr-3">
      <label for="last-name" class="sr-only">Last Name</label>
      <input type="text" class="form-control" id="last-name" name="last-name" placeholder="Last Name" [(ngModel)]="lastName">
    </div>
    <button type="submit" class="btn btn-primary mr-3" (click)="findOwners()">Find Owners</button>
    <button type="submit" class="btn btn-secondary mr-3" (click)="createOwner()" *ngIf="newOwnerAllowed">New Owner</button>
  </form>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>City</th>
          <th>Telephone</th>
          <th>Pets</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let owner of owners">
          <td><a routerLink="/owners/{{owner.id}}">{{owner.fullName}}</a></td>
          <td>{{owner.address}}</td>
          <td>{{owner.city}}</td>
          <td>{{owner.telephone}}</td>
          <td>{{owner.petNames}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>