<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Spring Pet Clinic</h5>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/welcome" routerLinkActive="active">Welcome</a>
    </li>
    <li class="nav-item" *ngIf="authenticated">
      <a class="nav-link" href="#" routerLink="/owners" routerLinkActive="active">Find Owners</a>
    </li>
    <li class="nav-item" *ngIf="authenticated">
      <a class="nav-link" href="#" routerLink="/vets" routerLinkActive="active">Veterinarian</a>
    </li>
    <li class="nav-item" *ngIf="!authenticated">
      <!-- Let the pet-clinic application handles login because it is the OAuth client -->
      <a class="nav-link" href="http://localhost:8080/pet-clinic/login">Login</a>
    </li>
    <li class="nav-item" *ngIf="authenticated">
      <!-- Let the auth server handle logout because because it doesn't make sense to "log out" of an OAuth client -->
      <form ngNoForm action="http://localhost:8081/auth-server/logout?redirect_uri=http://localhost:4200" method="post">
        <button type="submit" class="nav-link btn btn-link">Logout</button>
      </form>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
