<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Spring Pet Clinic</h5>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/welcome" routerLinkActive="active">Welcome</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/owners" routerLinkActive="active">Find Owners</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/vets" routerLinkActive="active">Veterinarian</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>